body {
	background-image: url("http://localhost/mynovel/assets/img/bg-mynovel.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.navbar {
	opacity: 0.9;
}

.search {
	height: 30px;
}

.navbar-brand i {
	margin-left: 260px;
}

.navbar {
	z-index: 999 !important;
}

.category {
	width: 424px;
}

.clear {
	clear: both;
}

.category li {
	width: 140px;
}

.slideshow {
	margin-top: 100px;
}

main span {
	display: block;
	width: 100%;
	height: 2px;
	background-color: white;
}

li {
	list-style: none;
}

.card {
	background-color: rgba(255, 255, 255, 0.6);
}

ul.profile {
	margin-left: -39px;
}

.icon {
	position: absolute;
	bottom: 0;
}

.novel a {
	cursor: pointer;
}

/* Detail  */
.detail {
	margin-top: 100px;
}

.card-detail {
	background-color: rgba(255, 255, 255, 0.8);
}

span.beli {
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgb(70, 61, 61);
}

.line {
	display: block;
	width: 100%;
	height: 1px;
	background-color: white;
}

.detail ul li {
	list-style: decimal;
}

.fa-plus-circle:hover,
.fa-minus-circle:hover {
	cursor: pointer;
}

/* form toko */
.form-toko {
	background-color: rgba(255, 255, 255, 0.8);
}

/* sidebar */
#sidebar {
	background-color: rgba(255, 255, 255, 0.4);
	height: 90vh;
}

.vertikal {
	display: inline-block;
	width: 1px;
	height: 25px;
	background-color: black;
	margin-bottom: -8px;
}

.daftar-produk {
	background-color: rgba(255, 255, 255, 0.4);
}

.horizontal {
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: black;
}

/* tambah produk */
.box label:hover {
	cursor: pointer;
}

.box {
	height: 130px;
	width: 130px;
	position: relative;
}

.upload img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

.upload label {
	position: relative;
	z-index: 999;
}

.invalid {
	border: 1px solid red !important;
	color: red;
}
